---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Lecturing and Coordination</h2>

Since 2021, I (co-)teach courses at the Faculty of Science and Engineering, University of Groningen.
Before that, from 2018 to 2021, I taught at Campus Fryslân, University of Groningen.

<h3>2023-2024</h3>

<ul>
  <li>[MSc] <i>Software Architecture</i></li>
  <li>[BSc] <i>Advanced Object-Oriented Programming</i> (also coordinator)</li>
  <li>[BSc] <i>Problem Analysis and Software Design</i> (also coordinator)</li>
  <li>[BSc] <i>Algorithmic Programming Contests</i></li>
</ul>

<ul>
  <li><strong>2022-2023</strong>
    <ul>
      <li>[MSc] <i>Software Architecture</i></li>
      <li>[BSc] <i>Advanced Object-Oriented Programming</i> (also coordinator)</li>
      <li>[BSc] <i>Algorithmic Programming Contests</i></li>
      <li>[BSc] <i>Object-Oriented Programming</i></li>
      <li>[BSc] <i>Problem Analysis and Software Design</i></li>
    </ul>
  </li>
  <li><strong>2021-2022</strong>
    <ul>
      <li>[MSc] <i>Software Architecture</i></li>
      <li>[BSc] <i>Object-Oriented Programming</i></li>
      <li>[BSc] <i>Problem Analysis and Software Design</i></li>
      <li>[BSc] <i>Introduction to Programming</i> (also coordinator)</li>
    </ul>
  </li>
  <li><strong>2020-2021</strong>
    <ul>
      <li>[BSc] <i>Topics on Data Science</i> (also coordinator)</li>
      <li>[BSc] <i>Information Technology and its Implication</i> (also coordinator)</li>
      <li>[BSc] <i>Introduction to Programming</i> (also coordinator)</li>
      <li>[BSc] <i>Living Labs</i> (supervisor)</li>
    </ul>
  </li>
  <li><strong>2019-2020</strong>
    <ul>
      <li>[BSc] <i>Introduction to Programming</i> (also coordinator)</li>
      <li>[BSc] <i>Introduction to Data Science</i> (also coordinator)</li>
      <li>[BSc] <i>Living Labs</i> (supervisor)</li>
    </ul>
  </li>
  <li><strong>2018-2019</strong>
    <ul>
      <li>[BSc] <i>Introduction to Programming</i> (also coordinator)</li>
      <li>[BSc] <i>Introduction to Data Science</i> (also coordinator)</li>
    </ul>
  </li>
</ul>

<h2>Teaching Assistanship</h2>

In the Faculty of Science and Engineering of the University of Groningen, I was TA for the master course <i>Software Patterns</i> between 2014 and 2016.
Before that, between 2007 and 2012, I was TA at the Institute of Mathematics and Computational Sciences of the University of São Paulo for the bachelor courses: <i>Information systems</i>, <i>Analysis of object-oriented designs</i>, <i>Databases laboratory</i>, <i>Databases</i> and <i>Introduction to computer science</i>.

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
